.navBarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  a {
    padding: 4px;
    margin: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
